*{
    margin: 0;
    padding: 0;
}

#navbar{
    
    justify-content: center;
    
    
    
}

#navbar ul li{
    
    
    font-size: 1rem;
    
}

#navbar ul li a{

    padding: 8px 25px;

    
    
    
    
}

.homepage{
    width: 400px;
    right: 0px;
    
}

#myVideo{

    object-fit: cover;
}

.homepage h1{
    /* padding: 20px; */
    
    font-size: 2rem;
    text-align: center;
    
    
}

.homepage p{
    font-size: 1rem;

}

